common --experimental_repo_remote_exec

build --define MEDIAPIPE_DISABLE_GPU=1

build --jobs 128
build --enable_platform_specific_config

build:linux --cxxopt=-std=c++17
build:linux --host_cxxopt=-std=c++17

run --define MEDIAPIPE_DISABLE_GPU=1